.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px; /* improve spacing */
  width: 100%;
  max-width: 600px; /* keeps content centered and not stretched */
  background-color: blanchedalmond;
  border-radius: 8px;
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    cursor: pointer;
}

.data{
    padding: 10px 20px;
    overflow: hidden;
    height: auto;
}

.multiButton{
    background-color: black;
    color: white ;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}